input{
    margin: 10px;
}
#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#show_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#search_button{
    margin-top: 20px;
    margin-bottom: 20px;
}